# Hugo
/resources/
/assets/jsconfig.json
/public/
.hugo_build.lock

# Misc
.DS_Store

# Python
**/__pycache__/

# Node
# Logs
logs
*.log

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Environment variables
.env
node_modules
