# Hugo
/resources/
/assets/jsconfig.json
/public/
.hugo_build.lock

# Misc
.DS_Store

# Python
**/__pycache__/

# Node
# Logs
logs
*.log

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn
node_modules
